.address {
  max-width: 800px;
  margin-top: 2rem;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 600;
}

.confirm > button {
  margin-top: 3rem;
  width: 100%;
}

@media (max-width: 600px) {
  .confirm > button {
    position: absolute;
    bottom: 10px;
    width: 94%;
  }
}
